<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body style="background-color:powderblue;">
    <div class="content">
      <h2>Привет!  Меня зовут Матвей!</h2>
      {% load static %} <img src="{% static 'media/Me.png' %}" alt="Фото не найдено" />
      <p>И я живу в Санкт-Петербурге!</p> <br>
      <p>
        На протяжении двух последних лет моим главным увлечением был Яндекс.Лицей.
        Мне удалось закончить его с отличием, я чудно отдохнул летом. Но вот пришла
        осень. Снова пора учиться и искать себе новые увлечения помимо школы.
        "Какое счастье!" - подумал я, когда нашёл сайт Интенсивов Академии Яндекса.
        Теперь у меня точно есть новое крутое увлечение. <br>
        Говоря про опыт в разработке я всегда вспоминаю проекты, которые презентовал
        на втором году учёбы в Яндекс.Лицее: умный календарь, "Фуфик в бегах" и,
        конечно же, телеграм бот, разработка над которым ведётся до сих пор. Также
        есть моя собственная игра "TopDown Shooter" и незабываемая "Игра в Жизнь на торе"
        (задачка на сто баллов из Яндекс.Лицея)
      </p>
    </div>
    <br>
    <footer>
      <hr color="black" size="3">
      <p class="text-center">telegram - @veyvin</p>
    </footer>
  </body>
</html>